nav{
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
	background-color:#ffffff;
	box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
	padding: 0px 5%;
}
ul{
	list-style: none;

}
a{
	text-decoration: none;
}
nav ul{
	display: flex;
}
nav ul li a{
	margin: 30px;
	font-family: myriad pro regular;
	color: #505050;
	font-size: 15px;
	font-weight: 700;
}
section{
	background-color: #62342F;
	border-radius: 20px;
}
h1{
	font-size: 35px;
	font-family: sans-serif;
	color: white;
}
h2{
	color: white;
}

.product{
	position: absolute;
	width: 40%;
	height: 100%;
	top: 20%;
	left: 40%;
}
.model{
	margin-top: -400px;
}
.one{
	font-size: 30px;

}
.desc{
	text-transform: none;
	letter-spacing: 0;
	margin-bottom: 17px;
	font-size: 15px;
	line-height: 1.6em;
	margin-right: 25px;
	text-align: justify;
	color: white;
	font-family: serif;
}
.app1{
	margin-top: 300px;
	margin-left: 40%;
	width: 150px;
}
.app2{
	width: 150px;
	height: 45px;
}
.second{
	background-color: #F1EEEE 
}
.model2{
	margin-left: 30%;
	margin-top: -300px;
}
.product2{
	margin-left: 150px;
}
.model3{
	margin-left: 10px;
	margin-top: -400px;
}
.product3{
	margin-left: 40%;
}
.cool{
	color: black;
	font-size: 20px;
}
.desc3{
	color: #908A89;
}
.sec3{
	margin-top: 5%;
	background-color: white;
	border-style: none;
	
}
.rate{
	width: 100px;
}
.left{
	margin-left: -500px;
	text-align: center;
}
.right{
	margin-top: -165px;
	margin-left: 25%;
	text-align: center;
}
.para{
	font-weight:bold;
}
.subscribe{
	margin-top: 10%;
	margin-left: 20%;
	margin-right: 20%;
	background-image: linear-gradient(grey,grey);
    text-align: center;
    font-family: serif;
    margin-bottom: 30%;
}
.input{
	
	padding-right: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
	margin-bottom: 20px;

}
